.vy-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 84;
  align-items: center;
  flex-direction: column;
  background-color: #F2EADF;
  overflow: hidden;
}
.vy-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  min-height: 84vh;
  align-items: center;
  justify-content: flex-start;
  background-color: #F2EADF;
  overflow: hidden;
}
.vy-frame26 {
  left: 1300px;
  position: absolute;
}


.vy-frame4 {
  width: 100%;
  height: 127px;
  display: flex;
  align-items: stretch;
  flex-shrink: 0;
  justify-content: space-between;
  background-color: var(--dl-color-default-vintagepaper);

  position: sticky;
  top: 0;
  z-index: 1;
}
.vy-frame2 {
  gap: 48px;
  display: flex;
  padding: 42px 0;
  align-items: flex-start;
  border-color: rgba(64, 46, 39, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  justify-content: center;
}
.vy-frame1 {
  gap: 88px;
  display: flex;
  padding: 0 72px;
  align-items: center;
  justify-content: center;
}
.vy-frame6 {
  gap: 8px;
  display: flex;
  padding: 8px 0;
  align-items: center;
  justify-content: center;
}
.vy-text {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
  text-decoration: none;
}
.vy-text002 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame53 {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vy-text004 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
  text-decoration: none;
}
.vy-openinnew {
  width: 24px;
  height: 24px;
}
.vy-frame13 {
  gap: 8px;
  width: 44px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.vy-text006 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-chevrondoubledown1 {
  width: 17px;
  height: 17px;
}
.vy-frame3 {
  height: 127px;
  display: flex;
  padding: 0 77px;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
  border-color: rgba(64, 46, 39, 1);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  justify-content: center;
}
.vy-text008 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text010 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 31.25px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-frame10 {
  gap: 40px;
  width: 516px;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-sixunits);
  margin-bottom: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: center;
}
.vy-text012 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame12 {
  gap: 32px;
  display: flex;
  align-items: center;
}
.vy-frame11 {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-color: rgba(64, 46, 39, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.vy-text014 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 19.200000762939453px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-frame101 {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  border-color: rgba(64, 46, 39, 1);
  border-style: solid;
  border-width: 1px;
  justify-content: center;
}
.vy-text016 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 19.200000762939453px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text018 {
  color: var(--dl-color-default-brown);
  width: 500px;
  height: auto;
  font-size: 19.200000762939453px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-desktop2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-default-vintagepaper);
}
.vy-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-right: 300px;
  justify-content: flex-start;
}
.vy-navlink {
  display: contents;
}
.vy-frame72 {
  position: sticky;
  top: 150px;
  left: 50px;

  gap: 8px;
  width: auto;
  display: flex;
  padding: 8px 16px;
  align-self: flex-start;
  align-items: center;
  border-color: rgba(64, 46, 39, 1);
  border-style: solid;
  border-width: 0.5px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-default-vintagepaper);
}
.vy-fiarrowleft {
  width: 24px;
  height: 24px;
}
.vy-frame30 {
  gap: 40px;
  width: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}
.vy-frame33 {
  gap: 8px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.vy-text020 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text022 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 31.25px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-frame32 {
  gap: 8px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.vy-text024 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text026 {
  color: var(--dl-color-default-brown);
  width: 261px;
  height: auto;
  font-size: 31.25px;
  font-style: Regular;
  text-align: right;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-frame31 {
  gap: 8px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.vy-text028 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text030 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 31.25px;
  font-style: Regular;
  text-align: left;
  font-family: "Raleway";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-frame34 {
  gap: 72px;
  width: 686px;
  height: auto;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.vy-frame50 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-frame35 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text031 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text033 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame52 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-frame45 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-direction: column;
}
.vy-link {
  display: contents;
}
.vy-frame43 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.vy-text035 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text037 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-link1 {
  display: contents;
}
.vy-frame44 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.vy-text039 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text041 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-link2 {
  display: contents;
}
.vy-frame47 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.vy-text043 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text045 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-link3 {
  display: contents;
}
.vy-frame46 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.vy-text047 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text049 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame461 {
  gap: 24px;
  display: flex;
  padding: 0 32px;
  align-items: flex-start;
  flex-direction: column;
}
.vy-link4 {
  display: contents;
}
.vy-frame431 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.vy-text051 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text053 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-link5 {
  display: contents;
}
.vy-frame441 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  text-decoration: none;
}
.vy-text055 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text057 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-ataglance {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-frame51 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text059 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text061 {
  color: var(--dl-color-default-brown);
  width: 275px;
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame451 {
  gap: 24px;
  display: flex;
  padding: 0 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text063 {
  color: var(--dl-color-default-brown);
  height: auto;
  align-self: stretch;
  text-align: justified;
  line-height: normal;
}
.vy-tasks {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-frame37 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text065 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text067 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame452 {
  gap: 24px;
  display: flex;
  padding: 0 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text069 {
  color: var(--dl-color-default-brown);
  height: auto;
  align-self: stretch;
  text-align: justified;
  line-height: normal;
}
.vy-moodboard {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-frame38 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text071 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text073 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame453 {
  gap: 24px;
  display: flex;
  padding: 0 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text075 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 19.200000762939453px;
  align-self: stretch;
  font-style: Regular;
  text-align: justified;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-image15 {
  width: 100%;
  height: auto;
}
.vy-lofi {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-frame39 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text119 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text121 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame454 {
  gap: 24px;
  display: flex;
  padding: 0 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text123 {
  color: var(--dl-color-default-brown);
  height: auto;
  align-self: stretch;
  text-align: justified;
  line-height: normal;
}
.vy-image14 {
  width: 100%;
  height: auto;
}
.vy-text125 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 19.2px;
  align-self: stretch;
  font-style: Regular;
  text-align: justified;
  font-family: "Raleway";
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text126 {
  text-decoration: none;
}
.vy-link6 {
  text-decoration: underline;
}
.vy-ataglance1 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-frame511 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-frame40 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text129 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text131 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame455 {
  gap: 24px;
  display: flex;
  padding: 0 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text133 {
  color: var(--dl-color-default-brown);
  height: auto;
  align-self: stretch;
  text-align: justified;
  line-height: normal;
}
.vy-image16 {
  width: 100%;
  height: auto;
}
.vy-text143 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: justified;
  line-height: normal;
}
.vy-image17 {
  width: 100%;
  height: auto;
}
.vy-ataglance2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-frame512 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text145 {
  color: var(--dl-color-default-brown);
  height: auto;
  font-size: 23.040000915527344px;
  font-style: italic;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.vy-text147 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-frame456 {
  gap: 24px;
  display: flex;
  padding: 0 0 0 32px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.vy-text149 {
  color: var(--dl-color-default-brown);
  height: auto;
  align-self: stretch;
  text-align: justified;
  line-height: normal;
}
.vy-footer {
  gap: 64px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 200px;
  align-items: flex-end;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-sixunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-default-vintagepaper);
}
.vy-text151 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
.vy-text153 {
  color: var(--dl-color-default-brown);
  height: auto;
  text-align: left;
  line-height: normal;
}
@media(max-width: 1600px) {
  .vy-frame4 {
    gap: 0;
    align-items: center;
    justify-content: space-between;
  }
  .vy-container2 {
    margin-right: auto;
  }

  .vy-frame30 {
    left: 203px;
  }

  .vy-frame26{
    left: 850px;
  }
}
@media(max-width: 1200px) {
  .vy-frame4 {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
  .vy-desktop2 {
    width: 100%;
  }

  .vy-frame30 {
    left: 5px;
  }

  .vy-frame26{
    left: 700px;
  }
}
